
body {
  background-color: #1e2951;
  color: white;
}

/* Title Field CSS*/
h1, h2 {
  padding-left: 3%;
  font-size:3em;
}
h2
{
  font-size:2em;
}

/*Input Field CSS*/
#inputFields {
  width: 60em;
  
  margin-left: 5em;
  background-color: #334587;
  border-radius: 2em;
  padding: 2em;
  float:left;
}

#fieldTitle {
  text-align: center;
  font-style: italic;
  font-size: 2.5em;
}

#inputText {
  font-size: 2em;
}

.mdl-button {
  background-color: #425bb7;
  color: white;
  float: right;
}

.mdl-button:hover {
  background-color: #31458c;
}

#feeField
{
  padding-top:.5em;
  padding-bottom:.5em;
}

#inputFields * span,p
{
  font-size: 1em;
}

/*Moon Field CSS*/

#moonField
{
  width:30em;
  float:left;
  margin-left:20em;
}

#card {
  width: 30em;
  height: 30em;
  margin-right:50%;
}

#moon, #darkSide {
  width: 90%;
  height: 90%;
}

#container
{
  position:absolute;
  width: 27em;
  height: 27em;
}
#moonText
{
  text-align:center;
  font-size:1.25em;
}



/*Calc Field CSS*/

#calcFields {
  width: 67.5em;
  margin-left: 3.5em;
  margin-top: 1em;
}

#exportNumField {
  float: left;
  width: 48%;
  height: 26%;
  background-color: #334587;
  border-radius: 2em;
  padding: .5%;
  padding-left: 1%;
  padding-right: 1%;
}

#exportDateField {
  float: left;
  width: 48%;
  height: 26%;
  margin-left: 1%;
  background-color: #334587;
  border-radius: 2em;
  padding: .5%;
}
#outputText, #inputDisplay  {
  font-size: 2em;
}

#calcTitle {
  padding-top: 2%;
  text-align: center;
  font-style: italic;
  font-size: 2.75em;
}

#outputText * span{
  float: right;
}

#inputDisplay * span{
  float: right;
}
