body {
  background-color: #1e2951;
  color: white;
}

/* Title Field CSS*/
h1 {
  padding-left: 2em;
  font-size: 3em;
}

h2 {
  font-size: 2em;
  padding-left: 3em;
}

/*Input Field CSS*/
#inputFields {
  width: 60em;

  margin-left: 5em;
  background-color: #334587;
  border-radius: 2em;
  padding: 2em;
  float: left;
}

#fieldTitle {
  text-align: center;
  font-style: italic;
  font-size: 2.5em;
}

#inputText {
  font-size: 2em;
}

.mdl-button {
  background-color: #425bb7;
  color: white;
  float: right;
}

.mdl-button:hover {
  background-color: #31458c;
}

#feeField {
  padding-top: .5em;
  padding-bottom: .5em;
}

#inputFields * span,
p {
  font-size: 1em;
}

/*Moon Field CSS*/

#moonField {
  width: 30em;
  float: left;
  padding-left: 21em;
}

#card {
  width: 30em;
  height: 30em;
}

#moon,
#darkSide {
  width: 30em;
  height: 30em;
}

#container {
  position: absolute;
  width: 30em;
  height: 30em;
}

#moonText {
  text-align: center;
  font-size: 2.5em;
  line-height: 1em;
}



/*Calc Field CSS*/

#calcFields {
  width: 67.5em;
  margin-left: 3.5em;
  margin-top: 1em;
}

#exportNumField,
#exportDateField {
  float: left;
  width: 32.25em;
  height: 17.5em;
}

#exportNumField {
  background-color: #334587;
  border-radius: 2em;
  padding: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

#exportDateField {
  margin-left: .5em;
  background-color: #334587;
  border-radius: 2em;
  padding: .5em;
}

#outputText,
#inputDisplay {
  font-size: 2em;
}

#calcTitle {
  padding-top: .125em;
  text-align: center;
  font-style: italic;
  font-size: 2.75em;
}

#outputText * span {
  float: right;
}

#inputDisplay * span {
  float: right;
}

#max_steps {
  font-weight: bold;
}

#max_steps:hover {
  color: rgb(255, 151, 151);
  cursor: pointer;
}